# Environment Configuration
NODE_ENV=development
PORT=5000

# MongoDB
MONGO_URI=mongodb://localhost:27017/smart-leads

# JWT
JWT_SECRET=BnjI5Qfmdptb4O4oB46IE8UYKe8F9eefaIl6hlVc1Kh
JWT_EXPIRES_IN=7d

# Client URL (for CORS)
CLIENT_URL=http://localhost:5173
